<h2>Recipe Details</h2>
<a [routerLink]="['/enter-recipe', recipe.id]" routerLinkActive="active">Edit Recipe</a><BR>
<div *ngIf="recipe">
  <h3>{{ recipe.name }}</h3>
  Servings: {{ recipe.servings }}
  <div *ngIf="recipe.cooktime!=null && recipe.preptime!=null">
    Prep time: {{ recipe.preptime }} minutes<BR>
    Cook time: {{ recipe.cooktime }} minutes<BR>
    Total time: {{recipe.cooktime + recipe.preptime }} minutes
  </div>
  <div *ngIf="recipe.source!=''">Source: {{recipe.source}}</div>
  <div *ngIf="recipe.image!=''">{{recipe.image}}</div>
  <ul>
  <li *ngFor="let ingredient of ingredientList">{{ ingredient }}</li>
  </ul>
</div>
<div>
  <ol>
    <li *ngFor="let line of recipe.directions.split('\n')">{{line}}</li>
  </ol>
</div>

